/* 声明字体图标 这里一定要注意路径的变化 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  .fr .icomoon{
    font-family: "icomoon";
    font-size: 16px;
    line-height: 26px;
  }

  .fl{
    float: left;
  }
  .fr{
    float:right;
  }
  /*版心*/
  .w{
    width: 1200px;
    margin: 0 auto;
  }
  .style-red{
    color: #c81623;
  }
  .shortcut{
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
    
  }
  /* shortcut里面的li都需要浮动 */
  .shortcut li{
    float: left;
  }

  .spacer{
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 12px 0;
  }
 
  